.salereport {

}

.table > thead th  {
    border-top: 0;
    background: #666;
    color: #fff;
    vertical-align: top !important;
}

.textCenter {
    text-align: center;
}

.textRight {
    text-align: right;
}
